.catalog-page__layout {
  @include wrapper;

  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 50px;

  margin: 78px auto 80px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}
