$light-gray: #F6F5F4;
$mid-gray: #F0EAE4;
$gray: #9B9997;

$black-standart: #000000;
$black: #1D1613;

$brown: #A87B62;

$white: #FFFFFF;
$white-op0: rgba(255, 255, 255, 0);
$white-op15: rgba(255, 255, 255, 0.15);
$white-op75: rgba(255, 255, 255, 0.75);
