.faq {
  margin: 120px 0 0 0;

  @media (max-width: $tablet-width) {
    margin: 70px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 60px 0 0 0;
  }
}

.faq__wrapper {
  @include wrapper;
}

.faq h2 {
  @include title;

  margin: 0;
  padding: 0;
}

.faq__accordion {
  margin: 47px 100px 0 100px;

  @media (max-width: $tablet-width) {
    margin: 47px 0 0 0;
    padding: 0 0 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 26px 0 0 0;
  }
}

.faq__accordion-list {
  margin: 0;
  padding: 0;

  border: 1px solid $brown;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 0 0;
  }
}

.faq__accordion-item {
  position: relative;


  border-bottom: 1px solid $brown;

  &:last-child {
    border: none;
  }

  @media (max-width: $mobile-width) {
    padding: 15px 40px 20px 25px;
  }
}

.faq__accordion h3 {
  margin: 0;
  padding: 43px 70px 44px 42px;

  font-family: $font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: $mobile-width) {
    padding: 0 0 3px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }
}

.faq__accordion-item p {
  margin: -34px 0 0 0;
  padding: 0 70px 44px 42px;

  max-width: 527px;

  font-family: $font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    margin: -34px 0 0 0;
    padding: 17px 70px 44px 42px;

    max-width: initial;
  }

  @media (max-width: $mobile-width) {
    margin: 15px 0 0 0;
    padding: 0 0 0 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }
}

.faq__accordion-icon {
  position: absolute;
  right: 50px;
  top: 52px;

  display: none;
  width: 16px;
  height: 10px;

  @media (max-width: $mobile-width) {
    right: 23px;
    top: 23px;

    width: 20px;
    height: 10px;
  }
}
