.faq {
  margin: 130px 0 0 0;
}

.faq__wrapper {
  @include wrapper;
}

.faq__title {
  @include title;

  margin: 0;
  padding: 0;
}

.faq__accordion {
  margin: 60px 0 0 0;
}

.faq__accordion-list {
  margin: 0;
  padding: 0;

  border: 1px solid $brown;
  list-style: none;
}

.faq__accordion-item {
  position: relative;

  padding: 50px 70px 50px 38px;

  border-bottom: 1px solid $brown;

  &:last-child {
    border: none;
  }
}

.faq__accordion-title {
  margin: 0;
  padding: 0;

  font-family: $font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

.faq__accordion-main {
  margin: 20px 0 0 0;
  padding: 0 0 0 7px;

  font-family: $font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}

.faq__accordion-icon {
  position: absolute;
  right: 50px;
  top: 52px;

  display: none;
}
