.popup-login {
  z-index: 99;

  margin: auto;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  box-shadow: 0px 5px 32px rgba(226, 221, 215, 0.24);

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.body--login-page .popup-login {
  position: initial;
  display: block;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.popup-login__window {
  width: 430px;
  max-height: 586px;
}

.body--login-page .popup-login__window {
  width: 100%;
}
